<style>
  .inquiry_thanks {
    border: solid;
    background: paleturquoise;
    text-align: center;
  }
  .inquiry_thanks h1 {
    font-weight: normal;
    font-size: 20px;
    padding-top: 12px;
  }

</style>

<div class="inquiry_thanks">
  <h1>お問い合わせいただきありがとうございました。</h1>
<%= link_to "ホーム", store_path %>
</div>


