@font-face {
    font-family: 'quizfont';
    src: url('nikumarufont.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'uzura';
    src: url('/assets/uzura.ttf');
    /*src: font-url('/assets/uzura.TTF');*/
    font-weight: normal;
    font-style: normal;
}

#wrap {
width:1100px;
margin:0px auto;
}

html {
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
}
 
body {
	overflow: hidden;
	font-family: 'uzura';
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 80px;
}

header {
    margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
	/*background: #9c9;*/
	background-image: linear-gradient(0deg, #ffffff 0%, #FFC38B 100%);
	/*padding:  10px;*/
	border-bottom: 4px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: chocolate;
	box-shadow: 2px 2px 3px #000000;
	/*text-align: center;*/
    img {
		float: left;
	}
}

.border1{
	border:solid;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow: 2px 2px 3px #000000;
}
.border2{
	border:solid;
	border-color: lightcoral;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow: 2px 2px 3px #000000;
    background: wheat;
}
.header_box{
	padding: 10px;
	height: 50px;
}
.header_img{
	float: left;
	margin-left: 48px;
	height: 50px;
}
.header_img img{
	width: 160px;
	height: 50px;
}

.header_title{
	position: relative;
	left: 208px;
	top: 5px;
	font-family: 'quizfont';
	font-weight: bold;
	font-size: 43px;
    text-shadow: 2px 2px 3px #000000;
    color: ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
/* 左のカラム用　*/
#leftnavi {
	float: left;
	margin: 10px 10px 10px 0px;
	/*padding: 1em 2em;*/
	width: 261px;
	/*background: #141;*/

	from, div {
		display: inline;
	}

	input {
		font-size: medium;
	}

	#cart {
		font-size: smaller;
		/*color: white;*/

		table {
			border-top: 1px dotted #595;
			border-bottom: 1px dotted #595;
			margin-bottom: 10px;
		}
		td{
			font-size: 11px;
			padding: 0 4px 7px;
		}
	}

	ul {
		padding: 0;

		li {
			list-style: none;

			a {
				color: #bfb;
				font-size: small;
			}
		}
	}
/*width:268px;*/
/*height:498px;*/
/*border:dashed 1px #999;*/
}
.box_roof{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 3px #000000;
    border: solid;
    border-bottom-width: 0;
    padding: 2px 5px 0px;
}
.box_color1{
	background: orangered;
}
.box_color2{
	background: green;
}
.box_color3{
	background: yellow;
}
.box_color4{
	background: darkslateblue;
    color: gold;
    border-color: black;
}
.img_circle{
    border-radius: 25px;
    background: sandybrown;
    width: 43px;
    height: 43px;
    float: left;
}
.img_circle3{
    border-radius: 25px;
    background: sandybrown;
    width: 43px;
    height: 43px;
    float: left;
}
.img_circle img{
	padding: 5px;
}
.img_circle3 img{
	padding: 8px;
}
.box_text1{
	margin-left: 70px;
    padding-top: 14px;
    height: 31px;
    /*width: 120px;*/
    font-size: 28px;
}
.box_text2{
	margin-left: 60px;
    padding-top: 14px;
    height: 31px;
    font-size: 28px;
}
.box_text3{
	margin-left: 44px;
    padding-top: 14px;
    height: 31px;
    font-size: 25px;
}

.search {
    margin: 0 0 5px 0;
    padding: 10px 10px 20px;
    background: lightcoral;
}
.page_link {
    margin-bottom: 5px;
    padding: 0px 20px 10px 20px;
    background: olivedrab;
    list-style-position: inside;
}
.login_btn{
	float: left;
	margin: 0 32px;
}
.login_btn2{
	float: left;
	margin: 0 24px;
}

.left_category{
	margin-bottom: 5px;
	padding: 0px 20px 10px 20px;
	list-style-position: inside;
	background-color: lightyellow;
}
.left_ranking{
	margin-bottom: 5px;
	padding: 5px;
	list-style-position: inside;
	background-color: lightcyan;
	list-style-type: none;
}

.ranking li{
	list-style-type: none;
	position: relative; 
	padding: 5px 20px;
}

.ranking li:nth-child(1):before {
  background: #fa0;
  position: absolute;
}
.ranking li:nth-child(2):before {
  background: #bbb;
  position: absolute;
}
.ranking li:nth-child(3):before {
  background: #930;
  position: absolute;
}

/*.ranking{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ranking li{
	position: relative;
	margin: 0;
	padding: 0 0 0 16px;
	border-bottom: 1px dotted #ccc;
}
.ranking li::before{
	position: absolute;
	top: 7px;
	left: 1px;
	color: #d05;
	content: "★";
	font-size: 9px;
}
.ranking li:first-child::before,
.ranking li:nth-child(2)::before,
.ranking li:nth-child(3)::before{
	position: absolute;
	top: 1px;
	left: 0;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom: 10px solid #fb0;
	content: "";
}
.ranking li:first-child::after,
.ranking li:nth-child(2)::after,
.ranking li:nth-child(3)::after{
	position: absolute;
	top: 9px;
	left: 0;
	width: 0;
	height: 0;
	border: 6px solid #fb0;
	border-top: 3px solid transparent;
	border-bottom: 6px solid #f90;
	content: "";
}
.ranking li:nth-child(2)::before{
	border-bottom: 10px solid #ccc;
}
.ranking li:nth-child(2)::after{
	border: 6px solid #ccc;
	border-top: 3px solid transparent;
	border-bottom: 6px solid #aaa;
}
.ranking li:nth-child(3)::before{
	border-bottom: 10px solid #d98;
}
.ranking li:nth-child(3)::after{
	border: 6px solid #d98;
	border-top: 3px solid transparent;
	border-bottom: 6px solid #c76;
}
.ranking li span{
	color: #9ab;
	font-size: 11px;
}*/
/*右のカラム用*/
#rightnavi {
	float: left;
	margin: 10px 0px 10px 10px;
	/*padding: 1em 1em;*/
	width: 261px;
	/*background: #141;*/


	from, div {
		display: inline;
	}

	input {
		font-size: medium;
	}
}
#cart {
	font-size: smaller;
	/*color: white;*/
	padding: 0 5px 12px;

	table {
		border-top: 1px dotted #595;
		border-bottom: 1px dotted #595;
		margin-bottom: 10px;
	}
	td{
		font-size: 11px;
		padding: 0 4px 7px;
	}
}

ul {
	padding: 0;

	li {
		list-style: none;

		a {
			color: #bfb;
			font-size: small;
		}
	}
}

.cart_logo{
	/*font-size: 13px;*/
    background: lightcoral;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 3px #000000;
}
.cart_logo_image{
	margin: 13px 13px 5px;
}

.kaimono{
	float: right;
    margin-right: 26px;
    height: 33px;
    font-size: 32px;
    padding: 21px 14px 22px 0px;
}

.test1{
	float: left;
	margin: 0 0 0 12px;
}
.test2{
	margin: 0 3px;
}
.test3{
	float: right;
}
.price_item{
	color: red;
}
.total_cell{
	color: red;
	font-size: 20px;
}

#cart dt{
	font-size: 15px;
	word-break: break-all;
}
#cart dl{
	margin: 5px 0 5px 0;  
}
/*width:243px;*/
/*height:498px;*/
/*border:dashed 1px #999;*/


#contents {
    float:left;
    width:556px;
/*width: auto;*/
    /*height:498px;*/
    /*border:dashed 1px #999;*/
    margin:10px 0px 10px 0px;
}
/*真ん中のコンテンツエリア*/

	/* クリアフィックス */
.appositive-list ul:after {
    content: "";
    clear: both;
    display: block;
}
/* 一覧のリストの設定 */
.appositive-list ul li {
    list-style-type: none;
    display: block;
    float: left;
    margin-bottom: 2.87%;
    height: 75px;/* 見た目の調整 */
    line-height: 75px;/* 見た目の調整 */
    background: #0cc;/* 見た目の調整 */
    text-align: center;/* 見た目の調整 */
}

/* 横並びに3等分　使わないかも？ */
/*
.appositive-list ul .al-3 li {
    width: 31.42%;
    margin-right: 2.87%;
}
.appositive-list ul.al-3 li:nth-child(3n) {
    margin-right: 0;
}*/
.store_table{
	float: left;
}
.center_box table{
	width: 185px;
	height: 312px;
	border: inset;
}
.store_img_box{
	width: ;
	height:182px;
}
.store_img{
	margin: -3px 0;
}
.store_price{
	padding: 5px;
    color: red;
    font-size: 18px;
}
.store_cart_in{
	float: left;
}
.store_button:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.store_button{
	 display: inline-block;
    text-decoration: none;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);*/
}
.store_underbox{
	padding: 2px;
	height: 50px;
}
.store_p_title{
	height: 50px;
    /*font-size: 4vh;*/
    font-size: 17px;
    word-break: break-all;
    vertical-align: middle;
    display: table-cell;
}
/*画像からサブメニューのアクション*/
figure.snip1437 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /*min-width: 230px;*/
  /*max-width: 315px;*/
  /*max-height: 230px;*/
  /*width: 100%;*/
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  text-transform: uppercase;
}
/*figure.snip1437:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30%;
  right: 70%;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: skew(20deg) translateX(-75%);
  transform: skew(20deg) translateX(-75%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}*/
figure.snip1437 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1437 .store_img {
  max-width: 100%;
}
figure.snip1437 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
}
figure.snip1437 .links {
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.snip1437 .links {
  font-size: 0.8em;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
figure.snip1437 .links li {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  list-style: none;
}
figure.snip1437 a {
  padding: 2px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
figure.snip1437 a:hover {
  color: #f39c12;
}
figure.snip1437:hover:after,
figure.snip1437.hover:after {
  -webkit-transform: skew(20deg) translateX(0%);
  transform: skew(20deg) translateX(0%);
}
figure.snip1437:hover .store_img,
figure.snip1437.hover .store_img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1437:hover li,
figure.snip1437.hover li {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
figure.snip1437:hover li:first-child,
figure.snip1437.hover li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.snip1437:hover li:nth-child(2),
figure.snip1437.hover li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1437:hover li:nth-child(3),
figure.snip1437.hover li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1437:hover li:nth-child(4),
figure.snip1437.hover li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/*ここまで画像サブメニューでした*/
/*products/showのページ*/
.p_show_title{
	border: solid;
    /*height: 40px;*/
    margin: 10px 0;
    word-break: break-all;
    background-color: #08B204;
    background-image: linear-gradient(0deg, #08b1ea 16%, #2AF598 100%);
}
.p_show_title_left{
	height: 40px;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
}
.p_show_title_right{
	float: right;
	font-weight:bold;
	font-size: 24px;

}
.p_show_img{
	width: 278px;
	display: inline-block;
}
.p_show_img img{
	width: 258px;
	height: 350px;
	padding: 10px;
}
.p_show_right_box{
	width: 258px;
	padding: 10px;
	margin-top: 40px;
	float: right;
	display: inline-block;
	word-wrap: break-word;
}
.p_show_description{
	margin: 30px 0;
}
.p_show_price{
	margin: 15px 0;
}
.p_show_price_left{
	width:120px;
    display: inline-block;
}
.p_show_price_right{
	float: right;
    color: red;
    font-size: 20px;
    margin-right: 15px;
}
.p_show_c_name{
	margin: 30px 0;
}
.u_top_box{
	border: solid;
    margin: 30px 15px;
    background-color: #08B204;
    background-image: linear-gradient(0deg, #08b1ea 16%, #2AF598 100%);
}
.u_top_box p{
	text-align: center;
    font-size: 20px;
}
.u_top_edit{
	text-align: -webkit-right;
    margin: 0 5px 5px 0;
}

.u_fav_box{
	border: solid;
    width: 250px;
    margin: 0 auto;
    background-color: #08B204;
    background-image: linear-gradient(0deg, #08b1ea 16%, #2AF598 100%);
}
.u_fav_box h2{
	font-size: 31px;
    margin: 7px;
}
.u_fav_count{
	margin: 15px 5px;
}
.u_fav_page{
	clear: both;
}
.u_order_box{
	/*clear: both;*/
	text-align: center;
	margin-top: 30px;
}
.u_new{

}
.o_show_day{
	font-size: 30px;
    margin: 30px 0;
    text-align: center;
}
.o_show_databox{
	border: solid;
	width: 100%;
}
.o_show_databox td{
	font-size: 18px;
}
.o_show_td{
	text-align: right;
}
.o_show_price_right{
	float: right;
    /*color: red;*/
    /*font-size: 20px;*/
    margin-right: 15px;
}
footer {
    clear:both;
    /*border:dashed 1px #999;*/
    background: black;
	margin-left: -500%;
	margin-right: -500%;
	padding-left: 500%;
	padding-right: 500%;
	border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
    height: 70px;
    position: absolute;
    bottom: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}